# Standard IDE files
*.swp
*~
/.project
/.settings
.deps
acinclude.m4
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
run-tests.php
spidermonkey.loT
autom4te.cache/output.0
autom4te.cache/requests
autom4te.cache/traces.0
build/ax_check_compile_flag.m4
build/libtool.m4
build/mkdep.awk
build/scan_makefile_in.awk
build/shtool
.vscode
*.diff
*.log
*.exp
tests/*.sh
tests/*.out
tests/*.php
*.so
*.o
*.lo
*.la
.libs
tmp-php.ini
